

@import url('../css/fonts.css');

html,body{
  margin:0;
  box-sizing:border-box;
  overflow-x: hidden;
}

:root{

  /* 
     theme for colors
  */
  --text-gray:#3f4954; 
  --text-light: #dd20ff;
  --bg-color: #0f0f0f;
  --white: #fff;
  --midnight: #104f55;

  /* Gradient colors */

  --sky: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

  /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); */


  /* theme for font family */
  --Lato:'Lato', cursive;
  --Montserrat: 'Montserrat', cursive;
  --Oswald: 'Oswald', cursive;
  --Roboto: 'Roboto', cursive
}

  /* Global classes--------------- */
 a{
  text-decoration: none;
  color:var(--text-gray)
 }
  .flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  ul{
    list-style-type: none;
  }
    /* Global classes--------------- */



/* -----Navbar------- */
.nav{
  background: var(--white);
  padding:0;
  height:0rem;
  min-height: 100vh;
  overflow: hidden;
}
    .nav .nav-menu{
      justify-content: space-between;
      
    }

.nav .toggle-collapse{
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none
}
.nav .toggle-collapse .toggle-icons{
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons{
  font-size: 1.4rem;
  color: var(--text-gray)
}
.nav .nav-items{
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family:var(--Oswald);
  font-size: 1.1rem
}
.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1rem, 0;
  display: block;
  font-family: var(--Lato);
  font-size: 1.6rem
}



.nav .nav-items .nav-link:hover{
  background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
  color: var(--white)
}

.nav .social{
  padding: 1.4rem 0
}
.nav .social i{
  padding: 0 .2rem;
}
.nav .social i:hover{
  color:#b1151d;
}
/* -----NAVBAR-------------- */

/* a view port less than or equal 750px */
  @media only screen and (max-width: 750px) {
    .nav .nav-menu .nav-items {
      flex-direction: column;
      
    }
    .nav .toggle-collapse{
      display: initial;
    }
  }
/* a view port less than or equal 750px */